
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-all {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}



body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #EEEE;
    background-color:#222831;
    padding: 100px 70px;
}

.title{
    margin-top: 0px;
    margin-bottom: 15px;
}


h1,h3,h2,h4 {
    text-align: center;
    margin-block-end: 2.5rem;
    margin-top: 20px;
    margin-bottom: 30px;
    
}

.summary {
    padding-top: 20px;
    text-align: justify;
}

.summary p {
    font-size: 1.4rem;
    letter-spacing: .1rem;
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
    margin-top: 50px;
    max-width: 1280px;
    
   
}
.experience-section,
.skills-section {
    flex: 1;
    min-width: 300px;
}










        
    
