.skills-ticker {
    font-size: 15px;
    padding-block: 8px;
    border-block: 1px solid;
    overflow: hidden;
    user-select: none;

    --gap: 20px;
    display: flex;
    gap: var(--gap);
}

.skills-ticker i {
    font-size: 24px;
    margin-right: 8px;
    vertical-align: middle;
}

.skills-ticker ul {
    list-style: none;
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);

    animation: scroll 15s linear infinite;
}

.skills-ticker:hover ul {
    animation-play-state: paused;
}

@keyframes scroll {
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

.resume_counter {
    position: fixed;
    top: 15px;
    background: #393E46;
    padding: 8px 16px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}